@use 'Variables' as *;

.product{
    position: relative;
    padding: 0 $px;
    margin-bottom: $mb;
    h2{
        font-size: $fs-h2;
        margin-bottom: 80px;
        @media screen and (max-width: $lg) {
            text-align: center;
        }
        @media screen and (max-width: $sm) {
            margin-bottom: 50px;
        }
    }
    &_grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        place-content: center;
        gap: 30px;
        @media screen and (max-width: $sm) {
            gap: 25px;
        }
    }
    &_card{
        position: relative;
        height: 450px;
        cursor: pointer;
        img{
            height: 100%;
            width:  100%;
            object-fit: cover;
            object-position: top;
        }
        &::after{
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, transparent 40%, #000b); 
        }
        &:hover{
            &::after{
                background: linear-gradient(180deg, #fffa 40%, #555a);  
            }
            h3{
                color: $Black;
            }
        }
        h3{
            position: absolute;
            bottom: 35px;
            left:   40px;
            font-size: $fs-h3;
            color: $White;
            z-index: 5;
        }
        @media screen and (max-width: $sm) {
            height: 117px;
            h3{
                bottom: 15px;
                left: 20px;
            }
        }
    }
    
}

.btn_primary{
    position: absolute;
    right: $px;
    top: 5px;
    padding: 8px 35px;
    letter-spacing: 5px;
    border: 1px solid $Black;
    color: $Black;
    &:hover{
        color: $White;
        background: $Black;
    }
    @media screen and (max-width: $lg){
        position: static;
        display: block;
        width: max-content;
        margin: auto;
        margin-top: 80px;
    }
    @media screen and (max-width: $sm){
        margin-top: 35px;
    }
}
